<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAejsN8a9Zy-0IW4euK9cvuQrUJ8D-Vv_k</string>
	<key>GCM_SENDER_ID</key>
	<string>834030680551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arrijal.talkdoraemon</string>
	<key>PROJECT_ID</key>
	<string>talkdoraemon</string>
	<key>STORAGE_BUCKET</key>
	<string>talkdoraemon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834030680551:ios:995fcf7d495b4889312542</string>
</dict>
</plist>